.contenedor {
    background-color: rgb(246, 246, 246);
    padding: 30px;
    border-radius: 1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

li {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

ul {
    min-width: fit-content;
    width: 177 px;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

ul>div {
    width: 100%;
}